@charset "UTF-8";

/* GENERAL */
html, body {
  background-color: #f4f4f4;
  color: #1d3d76;
  font: 100% Georgia, sans-serif;
  width: 100%;
  height: 100%;
}

h1, h2 {
  font-family: Georgia, sans-serif;
  font-weight: bold;
}

h1 {
  color: #383838;
  font-size: 1.25em;
  font-variant: small-caps;
  margin-bottom: 1.75%;
}

h2 {
  color: #1d3d76;
  font-style: italic;
  font-size: 1em;
  margin-bottom: 1%;
}

p {
  font-size: 0.875em;
  line-height: 1.6;
  margin-bottom: 2%;
}

a:link, a:visited {
  color: #3535d7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* HEADER */
header {
  background: linear-gradient(#1d1da0, #ddd);
  padding: 1%;
  border-top: 0.125em solid #fff;
  border-bottom: 0.1275em solid #fff;
  overflow: auto;
}

header h1 {
  color: #fff;
  font: italic bold 1.75em "Trebuchet MS", sans-serif;
  text-align: left;
  text-transform: uppercase;
  float:left;
  width: 92.5%;
  margin-bottom: 0;
}

#menu-toggle {
  display: inline-block;
  width: 7.5%;
}

.bar {
  background-color: #fff;
  width: 100%;
  height: 0.25em;
  margin-top: 0.25em;
}

nav ul {
  display: none;
}

nav:hover ul {
  display: block;
}

nav li {
  font: bold small-caps 0.875em "Trebuchet MS", sans-serif;
  letter-spacing:0.25em;
  padding-left: 1%;
}

nav a:link, nav a:visited, nav a:hover {
  color: #383838;
  text-decoration: none;
}

/* MAIN */
.container {
  width: 92.5%;
  margin: 2% auto;
}

*[role="main"] {
  padding-top: 2.5%;
}

.pubtime {
  font: 0.6em Arial, sans-serif;
  padding: 1%;
}

/* FOOTER */
footer {
  clear: both;
  text-align: center;
}

footer small {
  color: #333;
  font: 0.5em Arial, sans-serif;
}

@media screen and (min-width:480px) {
  
  html, body {
    font-size: 20px;
  }

  .bar {
    width: 70%;
  }
}

@media screen and (min-width:768px) {

  html, body {
    background: #eee;
  }

  header {
    background: linear-gradient(#1d1da0, #ddd);
  }

  header h1 {
    color: #fff;
    width: 30%;
    padding-left: 2%;
  }

  #menu-toggle {
    display: none;
  }

  nav ul {
    display: inline-block;
    width: 67.5%;
    padding-top: 1%;
  }

  /* Coz hover state is defined for display of mobile menu items */
  nav:hover ul {
    display: inline-block;
    width: 67.5%;
    padding-top: 1%;
  }

  nav li {
    display: inline;
    font: bold small-caps 1em "Trebuchet MS", sans-serif;
    letter-spacing: 0.25em;
    padding: 0 3% 0 1%;
    border-left: 1.5px solid #fff;
  }

  nav a:link, nav a:visited {
    color: #fff;
    text-decoration: none;
  }

  nav a:hover {
    color: #000;
  }
}

@media screen and (min-width:1023px) {
  
  html, body {
    font-size: 24px;
    background: #ddd;
  }

  header {
    background: transparent;
    padding: 0;
    border: 0;
  }

  header h1 {
    background: linear-gradient(#1d1da0, #ddd);
    color: #fff;
    font-size: 2em;
    text-align: center;
    letter-spacing: 0.25em;
    float: none;
    width: 100%;
    height: 8%;
    padding: 0;
    position: fixed;
    top: 0;
    border-top: 2.5px solid #fff;
    border-bottom: 2.5px solid #fff;
  }

  nav ul {
    background-color: #555;
    display: block;
    float: left;
    width: 12.5%;
    height: 100%;
    position: fixed;
    top: 8.5%;
    left: 0;
    padding-top: 5%;
  }

  nav:hover ul {
    background-color: #555;
    display: block;
    float: left;
    width: 12.5%;
    height: 100%;
    position: fixed;
    top: 8.5%;
    left: 0;
    padding-top: 5%;
  }

  nav li {
    display: block;
    font: bold small-caps 0.75em "Trebuchet MS", sans-serif;
    letter-spacing:0.25em;
    padding: 4.5%;
    margin-bottom: 12.5%;
    border: 0;
  }

  nav li:hover {
    background: #ddd;
  }

  nav a:link, nav a:visited {
    color: #fff;
  }

  nav a:hover {
    color: #000;
  }

  .container {
    float: right;
    width: 85.5%;
    padding: 0 1%;
    margin-top: 5.75%;
  }
}
