@charset "UTF-8";

/* MAIN */
img {
  display: block;
}

a.up {
  font-size: 0.7em;
}

@media screen and (min-width:600px) {
  
  img {
    float: left;
    width: 65%;
    padding: 0 2% 2% 0;
  }
}

@media screen and (min-width:1023px) {

  img {
    float: left;
    width: 50%;
    padding: 0 2% 2% 0;
  }
}